<h2>Liste des articles</h2>
<table class="table" border="2">
  <tr>
    <th>Id</th>
    <th>Label</th>
    <th>Price</th>
    <th>Picture</th>
    <th>Suppression</th>
    <th>Modification</th>   

  </tr>
  <tr class="article" *ngFor="let article of articles">
    <td>{{article.id}}</td>
    <td>{{article.label}}</td>
    <td>{{article.price}}</td>
    <td>{{article.picture}}</td>
    <td><button  class="btn btn-danger" (click)="deleteArticle(article.id)">Supprimer</button></td>
    <td><button (click)="updateArticle(article.id,article.provider.id)"  class="btn btn-warning">Modifier</button></td>
    <!-- <td><button (click)="getActicles()"  class="btn btn-primary">Articles</button></td> -->

  </tr>
</table>

